.header {
	background: none;

	.nav {
		position: absolute;
		right: 15px;
		left: 15px;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100px;

		@media (max-width: 1200px) {
			height: 68px;
			right: 16px;
			left: 16px;
		}
		@media (max-width: 576px) {
			height: 56px;
			height: 56px;
		}

		.mogo {

			@media (max-width: 1200px) {
				height: 18px;
				width: 66px;
			}

			@media (max-width: 576px) {
				height: 15px;
				width: 54px;
			}
		}
		
		.nav__menu {
			display: flex;

			@media (max-width: 576px) {
				display: none;
			}
	
			ul {
				display: flex;
				align-items: center;
				padding: 0;
				height: 100%;
	
				li {
					width: 114px;

					@media (max-width: 1200px) {
						width: 94px;
					}
	
					a {
						@include ffr600;
						font-size: 14px;
						width: 100%;
						text-transform: uppercase;
						color: $white;
						display: block;
						text-align: center;
						padding: 6px 0;
						position: relative;

						@media (max-width: 1200px) {
							font-size: 13px;
						}
	
						&:active {
							color: $soft_orange;
	
							&::after {
								content: "";
								right: 0;
								left: 0;
								bottom: 0;
								width: 85px;
								height: 1px;
								background: $soft_orange;
								position: absolute;							
								margin: 0 auto;

								@media (max-width: 1200px) {
									width: 70px;
								}
							}
						}
					}
				}
			}

			.nav__icons {
				display: flex;
				
				a:not(:last-of-type) {
					margin: 0 34px;
	
					@media (max-width: 1200px) {
						margin: 0 24px;
					}
				}
	
				img {
					@media (max-width: 1200px) {
						width: 16px;
						height: 16px;
					}
				}
			}
		}
		
		.header__btn, .header__btn--open {
			display: none;
			position: relative;

			@media (max-width: 576px) {
				height: 19px;
				width: 24px;
				margin-right: 17px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				// transition: .3s;
				position: relative;

				// &:hover {	

				// 	.header--open {
				// 		position: absolute;
				// 		left: 0;
				// 		top: 0;
				// 		z-index: 10;
				// 		width: 100%;
				// 		height: 100vh;
				// 		background-image: url(../img/img_of_intro.png);
				// 		background-repeat: no-repeat;
				// 		background-position: center;
				// 		background-size: cover;
				// 		position: relative;
					
				// 		&::after {
				// 			content: '';
				// 			position: absolute;
				// 			left: 0;
				// 			right: 0;
				// 			bottom: 0;
				// 			width: 100%;
				// 			height: 100%;
				// 			background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
				// 		}
				// 	}
				// }

				div {
					height: 3px;
					width: 100%;
					background: #fff;
				}	
			}	
		}
	}
}