.header {
	background: none;

	.nav {
		position: absolute;
		right: 15px;
		left: 15px;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100px;

		@media (max-width: 1200px) {
			height: 68px;
		}

		.logo {

			@media (max-width: 1200px) {
				height: 18px;
				width: 66px;
			}
		}
		
		.nav__menu {
			display: flex;
	
			ul {
				display: flex;
				align-items: center;
				padding: 0;
				height: 100%;
	
				li {
					width: 114px;

					@media (max-width: 1200px) {
						width: 94px;
					}
	
					a {
						@include ffr600;
						font-size: 14px;
						width: 100%;
						text-transform: uppercase;
						color: $white;
						display: block;
						text-align: center;
						padding: 6px 0;
						position: relative;

						@media (max-width: 1200px) {
							font-size: 13px;
						}
	
						&:active {
							color: $soft_orange;
	
							&::after {
								content: "";
								right: 0;
								left: 0;
								bottom: 0;
								width: 85px;
								height: 1px;
								background: $soft_orange;
								position: absolute;							
								margin: 0 auto;

								@media (max-width: 1200px) {
									width: 70px;
								}
							}
						}
					}
				}
			}
		}
		
		.nav__icons {
			display: flex;
			
			a:not(:last-of-type) {
				margin: 0 34px;

				@media (max-width: 1200px) {
					margin: 0 24px;
				}
			}

			img {
				@media (max-width: 1200px) {
					width: 16px;
					height: 16px;
				}
			}
		}
	}
}