.partners {
	background: $light;

	.partners__wrap {
		padding: 0 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 221px;

		@media (max-width: 1200px) {
			padding: 0 23px;
			height: 143px;
		}

		img {

			@media (max-width: 1200px) {
				width: 50px;
			}	
		}
	}
}