$light: #F8F8F8;
$white: #fff;
$golden: #E4BE8D;
$soft_orange: #F4BF87;
$pink: #F38281;
$dark: #2D3033;
$black: #000;
$light_gray: #C6CBCD;
$mint: #95E1D3;
$mint-btn_hover:#87D2C4;
$mint-btn_active: #5C958A;